{% extends "base.html.twig" %}
{% block title %}Modifier un Agent
{% endblock %}
{% block body %}
	<body>
		<div
			id="db-wrapper">
			<!-- navbar vertical -->
			{% include 'home/nav.html.twig' %}
			<section>
				<div class="container">
					<div class="row align-items-center justify-content-center ">
						<div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-20">
							<div
								class="card smooth-shadow-md">
								<!-- Card body -->
								<div class="card-body p-6">
									{{form(userForm)}}
										<div class="d-grid"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>


			{% endblock %}
