{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}

	{% include 'home/nav.html.twig' %}
	{% include 'home/content.html.twig' %}
</div></body></div></body>{% endblock %}{% block javascript %}<script src="{{asset('assets/js/feather/dist/feather.js')}}"></script>{% endblock %}
